body, html {
	height: 100%;
	display: grid;
}

body {
	background-image: url(bitcoin-2007769_1920.jpg);
	background-size: cover;
}

.box {
	margin: auto;
	width: 200px;
	height: 200px;
	background-color: #FFF;
	opacity: 0.9;
	padding: 50px;
	text-align: center;
}

#results {
	margin-top: 20px;
	display: none;
}

#status {
	font-size: 100px;
}

#roi {
	padding-top: 5px;
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
}

#roi.positive {
	color: green;
}

#roi.negative {
	color: red;
}

#loading {
	display: none;
}